In [1]:
import pandas as pd

base_url = "https://raw.githubusercontent.com/BobAdamsEE/SouthParkData/refs/heads/master/by-season/Season-{}.csv"
dfs = []
for season in range(1, 20):  # saisons 1 to 19
    url = base_url.format(season)
    dfs.append(pd.read_csv(url))
    
df = pd.concat(dfs, ignore_index=True)
df.head()

,Season,Episode,Character,Line
0,1,1,Boys,"School day, school day, teacher's golden ru...\n"
1,1,1,Kyle,"Ah, damn it! My little brother's trying to fol..."
2,1,1,Ike,Zeeponanner.\n
3,1,1,Kyle,"Ike, you can't come to school with me. \n"
4,1,1,Cartman,"Yeah, go home you little dildo.\n"

Only the last 2 columns interest us

In [2]:
df_dial = df.iloc[:,-2:]

In [3]:
df_dial.head()

  Character                                               Line
0      Boys   School day, school day, teacher's golden ru...\n
1      Kyle  Ah, damn it! My little brother's trying to fol...
2       Ike                                     Zeeponanner.\n
3      Kyle          Ike, you can't come to school with me. \n
4   Cartman                  Yeah, go home you little dildo.\n

In [4]:
df_dial.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73139 entries, 0 to 73138
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Character  73139 non-null  object
 1   Line       73139 non-null  object
dtypes: object(2)
memory usage: 1.1+ MB

We should delete the "\n" at the end of each line

In [5]:
df_dial["Line"] = df_dial["Line"].str[:-2]

In [6]:
df_dial.head()

  Character                                               Line
0      Boys      School day, school day, teacher's golden ru..
1      Kyle  Ah, damn it! My little brother's trying to fol...
2       Ike                                        Zeeponanner
3      Kyle             Ike, you can't come to school with me.
4   Cartman                     Yeah, go home you little dildo

The first stage is done. It can be expanded using others sources